/* Estilos para home.html */

/* Estilo da seção "Sobre Mim" */

body{
    background-color: rgb(18, 21, 24);
    color: aliceblue;

}

.nome{
    margin-left: 12%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 300%;
}

.eu {
    width: 40%;
    margin-left: 12%;
    margin-bottom: 10%;
    margin-top: 20%;
    border-radius: 10%;
    transform: rotate(5deg);
    
    
}

.biografia {
    margin-left: 12%;
    color: rgb(143, 143, 138);
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.about{
    width: 20%;
    margin-left: 12%;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

